.chapter-one {
    background-color: rgb(34, 34, 34);
    display: flex;
    justify-content: center;
    align-items: center;

    .wrapper {
        display: flex;
        flex-direction: row;
        height: 90%;
        background-color: #abceff;

        .textbox-container {
            display: flex;
            flex-direction: column;
            justify-content: end;

            .btn-continuar {
                position: absolute;
                background-color: whitesmoke;
                height: 35px;
                border-width: 3px;
                border-radius: 4px;
                border-color: black;
                border-style: solid;
                margin-bottom: 15px;
                margin-left: 30px;

                right: 38%;

                &:active {
                    background-color: rgb(231, 231, 231);
                }
            }
        }

        .editor-container {
            display: flex;
            flex-direction: column;
            justify-content: end;
            padding-left: 45px;
        }
    }
}
