.textbox {
    display: flex;
    height: auto;

    @mixin step2v2($width, $color, $bgcolor) {
        box-shadow: $width 0 $bgcolor, -$width 0 $bgcolor, 0 (-$width) $bgcolor,
            0 $width $bgcolor, 2 * $width 0 $color, -2 * $width 0 $color,
            0 (-2 * $width) $color, 0 2 * $width $color, 0 0 0 $width $color;
        margin: 2 * $width auto;
    }

    .baloon-text {
        margin: 50px 0px 30px !important;
        padding: 15px;
        background-color: white;
        font-size: 18px;
        line-height: 30px;
        
        min-width: 650px;
        min-height: 140px;
        width: 650px;
        height: 140px;
        max-width: 650px;
        max-height: 140px;

        @include step2v2( 4px, black, white );
    }

    .sprite {
        width: 250px;
        height: 250px;
    }

}
