.textbox {
    display: flex;
    
    .text {
        width: 100%;
        animation:
            typing 2s steps(77),
            cursor .1s step-end infinite alternate;

        @keyframes typing {
            from { width: 0 }
        }
    }
}