* {
    font-family: 'Press Start 2P', cursive;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    outline: 0;
}

html, body, #root {
    height: 100% !important;
    padding: 0;
    margin: 0;
}

// react-modal
.ReactModalPortal {
    height: auto !important;
    z-index: 2000 !important;
}

.ReactModal__Overlay {
    z-index: 2000 !important;
}


// react-sliding-pane
.slide-container {
    background-color: black;
    font-size: 14px;
    line-height: 26px;

    .slide-pane__content {
        &::-webkit-scrollbar {
            width: 10px;
            height: 10px;
        }
        &::-webkit-scrollbar-thumb {
            background: rgba(0, 0, 0, 0.3);
        }
        &::-webkit-scrollbar-track {
            background: white;
        }
        &::-webkit-scrollbar-corner {
            background: white;
        }
    }

    .row {
        display: flex;
        flex-direction: row;
        align-items: center;
        font-size: 16px;
        margin-top: 15px;
        margin-bottom: 10px;

        i {
            font-size: 25px;
            margin-right: 15px;
        }
    }
    
    .content-collapse {
        margin-top: 15px;
        margin-bottom: 20px;

        p {
            margin-top: 0;
            text-align: justify;
            text-justify: inter-word;
        }
    }

    .fa-angle-right, .fa-rotate-90 {
        transition: 0.29s all;
    }
}